---
layout: default
title: Jobs
suppress_header: true
extra_css:
  - jobs.css
---

<div class="wrapper">
  <div class="jobs-container">
    <div class="jobs-overlay">
      <div class="jobs-content">
        <h1>Jobs</h1>
      </div>
    </div>
  </div>

  <div class="container vacancies">
    <br>

    <div class="preamble">
      <div class="alert alert-info" role="alert">
        <h3> About GitLab</h3>
        GitLab is quickly becoming the standard for source code version management for any company, large or small.At GitLab, we help large enterprises move to Git and build better software.

        <h3> Why work for GitLab? </h3>
        GitLab is growing fast.
        Working for GitLab means joining a very productive, ambitious team, where independence and flexibility are both valued and required.
        Your work will directly have a large impact on the present and future of GitLab. We like to spend our time on things that matter.
        We are a <a href="https://about.gitlab.com/2015/04/08/the-remote-manifesto/">remote first</a> company and you can work from wherever you want.
        For more background please see our <a href="https://about.gitlab.com/about/">about page</a> and our <a href="https://about.gitlab.com/handbook/">handbook</a>.
        <br>
        <br>
        If you see yourself as a good fit with our company’s goals and team, then please review the current job openings on this page, and submit your resume and cover letter to be considered!
        <br>
        <br>
        <small>
        <strong> Note: we do not accept solicitation by recruiters, recruiting agencies and outsourcing organizations.</strong>
        </small>
        <h3> Available Openings:</h3>
        <div class="toc" id="whr_embed_toc">
        </div>
      </div>
    </div>

    <div class="all-jobs">
        <script src='https://www.workable.com/assets/embed.js' type='text/javascript'></script>
        <script type='text/javascript' charset='utf-8'>
        whr(document).ready(function(){
          whr_embed(34611, {detail: 'descriptions', base: 'jobs', zoom: 'country', grouping: 'none', target: '#whr_embed_hook'});
          whr_embed(34611, {detail: 'descriptions', base: 'jobs', zoom: 'country', grouping: 'none', target: '#whr_embed_toc'});
        });
        </script>
        <div id="whr_embed_hook"></div>
    </div>

    <div class="alert alert-info" role="alert">
      <h4>If you're interested, our <a href="/team-handbook">team handbook is publicly available.</a></h4>
    </div>

  </div>
</div>