<div id="footer" class="footer">
  {% if page.layout != "default" and page.layout != "markdown_page" %}
    <div class="source-link">
      This page is generated from <a href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/source/_posts/{{ page.filename }}">a public file on GitLab.com</a> – merge requests with improvement are very welcome.
      {% include cc_license.html %}
    </div>
  {% elsif page.layout != "default" %}
  <div class="source-link">
    This page is generated from <a href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/source/{{ page.path }}">a public file on GitLab.com</a> – merge requests with improvements are very welcome.
    {% include cc_license.html %}
  </div>
  {% else %}
    <div class="source-link">
      This page is generated from <a href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/source{{ page.url }}">a public file on GitLab.com</a> – merge requests with improvements are very welcome.
      {% include cc_license.html %}
    </div>
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-sm-15">
        <h3>Products</h3>
        <ul class="animated">
          <li><a href="/features/">Community Edition</a></li>
          <li><a href="/features/#enterprise">Enterprise Edition</a></li>
          <li><a href="/gitlab-ci/">Continuous Integration</a></li>
          <li><a href="/gitlab-com/">GitLab.com</a></li>
        </ul>
      </div>
      <div class="col-sm-15">
        <h3>Services</h3>
        <ul class="animated">
          <li><a href="/pricing/">Pricing</a></li>
          <li><a href="/consultancy/">Consultancy</a></li>
          <li><a href="/development/">Development</a></li>
          <li><a href="/training/">Training</a></li>
        </ul>
      </div>
      <div class="col-sm-15">
        <h3>Community</h3>
        <ul class="animated">
          <li><a href="/core-team/">Core Team</a></li>
          <li><a href="http://contributors.gitlab.com/">Contributors</a></li>
          <li><a href="/documentation/">Documentation</a></li>
          <li><a href="/getting-help/">Getting Help</a></li>
          <li><a href="/contributing/">Contributing</a></li>
          <li><a href="/applications/">Applications</a></li>
          <li><a href="/mvp/">Hall of Fame</a></li>
        </ul>
      </div>
      <div class="col-sm-15">
        <h3>Company</h3>
        <ul class="animated">
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/press/">Press and Logos</a></li>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/team/">Team</a></li>
          <li><a href="/jobs/">Jobs</a></li>
          <li><a href="/terms/">Terms</a></li>
          <li><a href="/contact/">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm-15">
        <h3>Social</h3>
        <ul class="animated">
          <li><a href="https://twitter.com/gitlab"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href="https://plus.google.com/107491817347842790515/posts"><i class="fa fa-google-plus"></i> Google+</a></li>
          <li><a href="https://www.facebook.com/gitlab"><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a href="https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg"><i class="fa fa-youtube"></i> YouTube</a></li>
          <li><a href="https://www.linkedin.com/company/gitlab-com"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
