<div class="panel panel-default nl">
  <div class="panel-heading">
    For the latest and most detailed news follow <strong><a href="https://twitter.com/gitlab">@gitlab</a></strong>
    on Twitter.

    <a href="/atom.xml" class="rss-btn">
      <button class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="right" title="RSS">
        <i class="fa fa-rss"></i>
      </button>
    </a>

  </div>
  <div class="panel-body newsletter">

    <span class="newsletter-preamble">
      Get every GitLab blog post and stay up-to-date.
    </span>

    <div class="newsletter-form">
      <script src="//app-ab13.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_1077"></form>
      <script>MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1077);</script>
    </div>
  </div>
</div>
